<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif; color: #777;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

</style>
</head>
<body>

<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <a href="#home" class="w3-bar-item w3-button"><span style="color: #777;"><b>HOME</b></span></a>
    </div>
  </div>

<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">O MENI</h3>
  <p style="text-align:center">Student Fakulteta tehničkih nauka, smjer <i>Inženjerstvo informacionih sistema</i></p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p><b><i class="fa fa-user w3-margin-right"></i>Sanja Tica</b></p><br>
       <a href="https://www.linkedin.com/in/sanja-tica-45145a1bb/"><img src="../../../../assets/linkedin.png" alt="linkedin" width="400" height="333"></a>
    </div>

    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <a href="https://github.com/sanjat80"><img src="https://cdn-icons-png.flaticon.com/512/270/270798.png" height="333px" width="400px" style="margin-top: 75px;"></a>
    </div>
  </div>
  <p class="w3-large w3-center w3-padding-16">Vještine</p>
  <p class="w3-wide">SolidWorks/AutoCAD</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:50%">50%</div>
  </div>
  <p class="w3-wide">SQL</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-laptop"></i>Web Design</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:50%">50%</div>
  </div>

</div>
<div>
    <h1 style="text-align: center;">KONTAKT</h1>
    <div class="w3-col m4 w3-container">
        <img src="../../../../assets/kontakt.jpg" class="w3-image w3-round" style="width: 440px; height: 180px; margin-left: 40px; margin-right: 40px;">
      </div>
      <div class="w3-col m8 w3-panel" style="margin-left: 30px;">
        <div class="w3-large w3-margin-bottom" style="margin-top: 25px;">
          <i class="fa fa-map-marker fa-fw w3-hover-text-black "></i> Novi Sad, SRB<br>
          <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge "></i> Telefon: +381 649240582<br>
          <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge"></i> Email: tica.it80.2019@uns.ac.rs<br>
        </div>
      </div>
</div>

</body>
</html>
