<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family:"Lato",sans-serif; text-align: justify; color: #777;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato",sans-serif;
  letter-spacing: 5px;
  color: #777;
}
</style>
</head>
<body>

<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button"><span style="color: #777;"><b>FAKULTET TEHNIČKIH NAUKA</b></span></a>
  </div>
</div>


<div class="w3-content" style="max-width:1100px">
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../../../../assets/faks.jpg" height="500 px" width="450px" alt="about">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center" style="margin-top: 100px ; margin-left: 100px;"><b>O aplikaciji</b></h1><br>
      <p class="w3-large">Aplikacija za vođenje evidencije o studentima Fakulteta tehničkih nauka. U aplikaciji su prikazane osnovne informacije o studentima sa različitih smjerova, projektima na kojima ti studenti rade, kao i grupama kojima pripadaju.</p>
    </div>
  </div>
  
  <hr>
  
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center"><b>Sekcije</b></h1><br>
      <h4>Smer</h4>
      <p class="w3-text-grey">Popis smjerova koji su u opticaju na fakultetu, i koje pohađaju evidentirani studenti.</p><br>
    
      <h4>Projekat</h4>
      <p class="w3-text-grey">Popis svih projekata u realizaciji, na kojima studenti učestvuju.</p><br>
    
      <h4>Grupa</h4>
      <p class="w3-text-grey">Popis svih grupa koje su oformljene, a kojima pripadaju studenti.</p><br>
    
      <h4>Studenti</h4>
      <p class="w3-text-grey">Lista studenata evidentiranih smjerova i grupa.</p><br>
     
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="../../../../assets/sekcije.jpg" style="width: 450px;" height="500px">
    </div>
  </div>

  <hr>

  <div class="w3-container w3-padding-64" id="contact">
    <h1><b>Kontakt</b></h1><br>
    <p>Ovdje nas možete kontaktirati:</p>
    <p class="w3-text-blue-grey w3-large"><b>Trg Dositeja Obradovića 6, Novi Sad 106314</b></p>
    <div>
      <img src="../../../../assets/telefon.png" height="50px" width="50px">Telefon: 021450810</div>
    <div>
      <img src="../../../../assets/vebsajt.jpg" height="50px" width="50px"><a href="http://ftn.uns.ac.rs/691618389/fakultet-tehnickih-nauka"> website - FTN</a>
    </div>
    <div>
      <img src="../../../../assets/email.png" height="50px" width="50px"> email - ftndean@uns.ac.rs
    </div>
  </div>
  
</div>

<footer class="w3-center w3-light-grey w3-padding-32">
  Sanja Tica, Jun 2022.
</footer>

</body>
</html>